[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorist = "==1.6.0"
tiktoken = "*"
langdetect = "==1.0.9"
python-iso639 = "==2023.6.15"
genson = "*"

[dev-packages]

[requires]
python_version = "3.11"
